<html>
    <head>
        <title> THIS IS HOME PAGE</title>
    </head>
    <body>
        {{>navbar}}
        <h1>THIS IS HOME PAGE</h1>
        <h3>STUDENT NAME: {{studentName}}</h3>
        <h3>STUDENT CLASS: {{studentClass}}</h3>
    </body>
</html>