<html>
    <head>
        <title> THIS IS HOME PAGE</title>
    </head>
    <body>
        <ul>
            <li>Home</li>
            <li>Products</li>
            <li>Cart</li>
            <li>Login</li>
        </ul>
    </body>
</html>